.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.autocomplete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

h2 {
    color: darkslateblue;
    font-size: 40px;
}

input {
    padding: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid navy;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
.pos-rel {
    position: relative;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.autocompleteContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: navy;
    background-color: snow;
    right: 10px;
    top: 52px;
    width: 520px;
    cursor: pointer;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
}

.data span {
    font-size: 25px;
    text-transform: capitalize;
}
